<ion-toolbar class="border-bottom">
	<div fxLayout="row" fxLayoutAlign="space-between center" class="pad-h-8">
		<div fxFlex="48px" fxLayoutAlign="start center" *ngIf="headerMenu">
			<ion-menu-button class="mezzo-indigo"></ion-menu-button>
		</div>
		<span fxFlex="grow"  class="mezzo-toolbar-title" fxLayoutAlign="center center">{{headerTitle}}</span>
		<ion-icon fxFlex="24px" *ngIf="headerFilter" name="funnel" size="large" class="mar-r-18 mezzo-indigo"></ion-icon>
		<ion-icon fxFlex="24px" *ngIf="headerSearch" name="search" size="large" class="mezzo-indigo"></ion-icon>
	</div>
</ion-toolbar>
<div class="section-overflow border-bottom" *ngIf="headerFilter">
	<div class="overflow-content">
		<mat-chip-list aria-label="Fish selection">
			<div fxLayout="row" fxLayoutGap="10px">
				<mat-chip class="mezzo-green-light-bg mezzo-indigo">Guitarist <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
				<mat-chip class="mezzo-red-light-bg mezzo-indigo">Bassist <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
				<mat-chip class="mezzo-purple-light-bg mezzo-indigo">Drummer <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
				<mat-chip class="mezzo-green-light-bg mezzo-indigo">Singer <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
				<mat-chip class="mezzo-red-light-bg mezzo-indigo">Pianist <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
				<mat-chip class="mezzo-purple-light-bg mezzo-indigo">Producer <ion-icon name="close" size="small" class="mar-l-4"></ion-icon></mat-chip>
			</div>
			</mat-chip-list>
	</div>
</div>