<ion-content no-bounce [attr.noScroll]="shouldScroll">
	<ion-slides pager="true" [options]="slideOpts" no-bounce>

		<ion-slide class="slide1" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Productores de Audio</h1>
					<h2 fxFlex>Deja que otras personas descubran tu talento</h2>
					<ion-select [(ngModel)]="selectedMusicProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="ionChangeFn($event)">
						<ion-select-option *ngFor="let profile of music" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="light" (click)="saveSoundProfile()">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

		<ion-slide class="slide2" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Creadores de Contenido</h1>
					<h2 fxFlex>Publica tus proyectos y descubre el trabajo de otros</h2>
					<ion-select [(ngModel)]="selectedVisualProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="ionChangeFn($event)">
						<ion-select-option *ngFor="let profile of visual" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="light"
							(click)="saveVisualProfile()">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

		<ion-slide class="slide3" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Talento</h1>
					<h2 fxFlex>Conecta y colabora con otros artistas cerca de ti</h2>
					<ion-select [(ngModel)]="selectedPerformanceProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="ionChangeFn($event)">
						<ion-select-option *ngFor="let profile of actors" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="light"
							(click)="saveActorsProfile()">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

	</ion-slides>
</ion-content>