ion-content {
	height: 100vh;
	--overflow: hidden;
}

ion-slides {
  --bullet-background-active: white;
	height: 100vh;

  ion-slide {
		display: block;
    padding: 32px;
    text-align: left;
    color: #000000;
  }
}

ion-select {
  text-align: left;
  border-bottom: 2px solid #000000;
  color: rgba(0, 0, 0, 1) !important;
	font-size: 16px;
	opacity: 1 !important;

  .select-text {
    font-size: 16px;
		// color: rgba(255, 255, 255, 1) !important;
		// opacity: 1 !important;

		.select-placeholder {
			opacity: 1 !important;
		}
	}
}

[noScroll] {
  overflow: hidden;
}

.slide1 {
	background-image: url("../../assets/images/bg_audio.png");
	background-size: cover;
}

.slide2 {
	background-image: url("../../assets/images/bg_video.png");
	background-size: cover;
}

.slide3 {
	background-image: url("../../assets/images/bg_model.png");
	background-size: cover;
}

h2 {
	margin-top: 0;
	margin-bottom: 16px;
}

h5 {
	color: #fff;
	text-align: center;
}

p {
  text-align: left;
}

// Ionic Button 
// .ion-color-light {
//     --ion-color-light-contrast: #4801FF !important;
// }