<ion-content no-bounce [attr.noScroll]="shouldScroll">
	<ion-slides pager="true" [options]="slideOpts" no-bounce>

		<ion-slide class="slide1" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Artistas</h1>
					<h2 fxFlex>Deja que otras personas descubran tu talento</h2>
					<mat-form-field fxFlex>
						<input matInput type="text" [(ngModel)]="username" placeholder="Username"/>
					</mat-form-field>
					<ion-select [(ngModel)]="selectedArtistProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="onSelectCategories($event, 'artist')" multiple>
						<ion-select-option *ngFor="let profile of artistCategories" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="dark"
						(click)="saveProfile('artist')">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

		<ion-slide class="slide2" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Creativos</h1>
					<h2 fxFlex>Publica tus proyectos y descubre el trabajo de otros</h2>
					<mat-form-field fxFlex>
						<input matInput type="text" [(ngModel)]="username" placeholder="Username"/>
					</mat-form-field>
					<ion-select [(ngModel)]="selectedCreativeProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="onSelectCategories($event, 'creator')" multiple>
						<ion-select-option *ngFor="let profile of creativeCategories" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="dark"
							(click)="saveProfile('creator')">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

		<ion-slide class="slide3" fxLayout="column" fxFlexFill no-bounce>
			<div fxFlex="70" fxLayoutAlign="start end">
				<div fxLayout="column">
					<h1 fxFlex>Influencers</h1>
					<h2 fxFlex>Conecta y colabora con otros artistas cerca de ti</h2>
					<mat-form-field fxFlex>
						<input matInput type="text" [(ngModel)]="username" placeholder="Username"/>
					</mat-form-field>
					<ion-select [(ngModel)]="selectedInfluencerProfile" placeholder="Selecciona uno" interface="popover" (ionChange)="onSelectCategories($event, 'influencer')" multiple>
						<ion-select-option *ngFor="let profile of influencerCategories" [value]="profile">{{profile}}</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div fxFlex="25" fxLayoutAlign="space-between center" fxFill>
				<div fxLayout="column" fxFill>
					<div fxFlex fxLayoutAlign="center center">
						<ion-button fxFlex expand="block" class="continue-btn" shape="round" color="dark"
							(click)="saveProfile('influencer')">
							COMENZAR
						</ion-button>
					</div>
				</div>
			</div>
			<div fxFlex="5">
				<h5>Swipe for more options.</h5>
			</div>
		</ion-slide>

	</ion-slides>
</ion-content>