<ion-header class="ion-no-border">
	<mezzo-header-toolbar [headerMenu]="true" [headerTitle]="'Sound'" [headerFilter]="headerFilter" [headerSearch]="true">
	</mezzo-header-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngFor="let postData of posts">
    <mezzo-post 
      [avatar]="postData.avatar"
      [thumbnail]="postData.thumbnail"
      [name]="postData.name"
      [profile]="postData.profile"
      [distance]="postData.distance"
      [title]="postData.title"
      [description]="postData.description"></mezzo-post>
  </ng-container>
</ion-content>