<ion-content>
	<div fxLayout="column" class="background pad-16 height">
		<div class="logo">Mezzo</div>
	
		<div fxLayout="column" class="pad-b-30">
			<mat-form-field fxFlex>
				<input matInput placeholder="Username" type="text" [(ngModel)]="username">
			</mat-form-field>
			<mat-form-field fxFlex>
				<input matInput placeholder="Password" type="password" [(ngModel)]="password">
			</mat-form-field>
		</div>
		<div fxFlex >
			<ion-button fill="solid" expand="block" color="dark" shape="round" (click)="login()">Login</ion-button>
		</div>
	</div>
</ion-content>