input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

.mat-form-field-appearance-outline .mat-form-field-outline { 
	border-bottom: 2px solid;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	height: 2px !important;
	background-color: rgba(0,0,0,0.8);
}

.mat-form-field-label{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}