@import "./variables/_mezzo-color-variables.scss";

img {
  width: 100%;
}

// Borders
.border-top {
  border-top: 1px solid $mezzo-gray-border;
}

.border-bottom {
  border-bottom: 1px solid $mezzo-gray-border;
}

.no-border {
  border: none !important;
  border-bottom: none !important;
  border-top: none !important;
}

// Paddings
.pad-16 {
  padding: 16px;
}

.pad-h-8 {
  padding-left: 8px;
  padding-right: 8px
}

.pad-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pad-10 {
  padding: 10px;
}

.pad-t-10 {
  padding-top: 10px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.pad-b-30 {
  padding-bottom: 30px;
}

.pad-t-20 {
  padding-top: 20px
}

.pad-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pad-v-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pad-16 {
  padding: 1rem;
}

.mar-t-8 {
  margin-top: 8px;
}

.mar-r-8 {
  margin-right: 8px;
}

.mar-r-18 {
  margin-right: 18px;
}

.mar-l-4 {
  margin-left: 4px;
}

.mar-t-20 {
	margin-top: 20px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

// Color 
.mezzo-indigo {
  color: $mezzo-indigo;
}

// Reusable styles
.mezzo-toolbar-title {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #611FED;
}

.mz-click {
  cursor: pointer;
}

.height-100 {
	height: 100%;
}