<ion-app>
	<ion-menu contentId="main-content">
		<ion-header class="ion-padding">
			<ion-toolbar>
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<h2>Mezzo</h2>
					<ion-icon fxFlex="24px" *ngIf="headerSearch" name="search" size="large" class="mezzo-indigo"></ion-icon>
				</div>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
			<ng-container *ngFor="let navLink of navLinks">
				<h3 class="nav-link" (click)="goTo(navLink.routePath)">{{navLink.profileType}}</h3>
			</ng-container>
		</ion-content>
	</ion-menu>
	<div class="ion-page" id="main-content">
		<ion-content>
			<ion-router-outlet></ion-router-outlet>
		</ion-content>
	</div>
</ion-app>
