@import "../styles/variables/mezzo-color-variables.scss";

ion-menu {
	// --width: 100%;
	// --background: $mezzo-indigo;
	// --background:red;
	ion-toolbar {
		// --background:red;
	}
	ion-content {
		// --background:red;
	}
}

.nav-link {
	cursor: pointer;
	margin-bottom: 1rem;
	&:hover {
		color: $mezzo-indigo;
	}
}
