// Brand Colors
$mezzo-indigo: #7044ff;

// Grays
$mezzo-gray-border: rgba(0,0,0,0.07);
$mezzo-gray-text: #888888;

// Utility 
$mezzo-green-light: #D9F4F1;
$mezzo-red-light: #F4D9DE;
$mezzo-purple-light: #DAD9F4;