<div class="pad-16">
	<div fxLayout="row" fxLayoutGap="1rem">
		<div fxFlex="100px">
			<ion-avatar>
				<img [src]="bioData.avatar">
			</ion-avatar>
		</div>
		<div fxFlex="25" fxLayout="column"  fxLayoutAlign="center center">
			<h3 class="bold">{{bioData.posts}}</h3>
			<h5>Posts</h5>
		</div>
		<div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
			<h3 class="bold">{{bioData.followers}}</h3>
			<h5>Followers</h5>
		</div>
		<div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
			<h3 class="bold">{{bioData.following}}</h3>
			<h5>Following</h5>
		</div>
	</div>
	<div fxLayout="column" fxLayoutGap=".5rem" class="pad-t-10">
		<h4 class="bold" fxFlex>{{userProfile.username}}</h4>
		<div fxFlex="">
			<ng-container *ngFor="let category of userProfile.artist; let last = last">
				<span class="mezzo-gray-text h4">{{category}}</span><span class="mezzo-gray-text h4" *ngIf="!last">, </span>
			</ng-container>
		</div>
		<!-- <span class="mezzo-gray-text mezzo-inline-text" fxFlex>Producer</span> -->
		<h4 fxFlex>I make beats and melodies for HipHop and Trap artists.</h4>
	</div>
</div>