<ion-content>
  <div fxLayout="column" class="background padding height">
    <div class="logo">Mezzo</div>
		<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div fxLayout="column" class="pad-b-30">
				<!-- <mat-form-field fxFlex>
					<input matInput placeholder="Username" type="text" [(ngModel)]="username">
				</mat-form-field>
				<mat-form-field fxFlex>
					<input matInput placeholder="Password" type="password" [(ngModel)]="password">
				</mat-form-field>
				<mat-form-field fxFlex>
					<input matInput placeholder="Confirm Password" type="password" [(ngModel)]="cpassword">
				</mat-form-field> -->
				<mat-form-field fxFlex>
					<input matInput type="email" [(ngModel)]="email" placeholder="Email" formControlName="email" />
				</mat-form-field>
				<mat-form-field fxFlex>
					<input matInput type="password" [(ngModel)]="password" placeholder="Password" formControlName="password"/>
				</mat-form-field>
			</div>
			<div fxLayout="column">
				<ion-button fill="solid" expand="block" color="dark" shape="round" (click)="onSubmit()" [disabled]="!registrationForm.valid">Register</ion-button>
			</div>
		</form>
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <h4 class="pad-b-20 border-bottom">Already have an account? <span class="h4 bold cursor-pointer"
          (click)="login()">Login</span></h4>
      <h4 class="pad-t-20 pad-b-20">Connect with your social media</h4>
      <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex="30px">
          <img src="../../assets/images/facebook-logo.png" />
        </div>
        <div fxFlex="40px">
          <img src="../../assets/images/google-logo.png" />
        </div>
      </div>
    </div>
  </div>
</ion-content>